@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

body {
    background-image: url("../assets/form-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btns{
    align-items: center;
    /* justify-content:center ; */
}

.center-box {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 70%;
    margin-top: 15vh;
    margin-left: 30%;
    background-color: white;
    border-radius: 12px;
    align-items: center;
}

.top-text {
    font-family: "Nunito", sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 1px;
    color: #a79a2d;
}

.btns {
    margin-bottom: 15px;
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
}

.radio-input {
    display: none;
}

.radio-label {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 1vw;
    cursor: pointer;
    border: none;
    color: #a79a2d;
    font-family: "Nunito", sans-serif;
}

.btns > label:hover {
    border: #a79a2d solid 1.5px;
    background-color: #a79a2d;
    color: white;
}

.radio-input:checked+.radio-label {
    border: #a79a2d solid 1.5px;
    background-color: #a79a2d;
    color: white;
}

#Artist-button {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#Visitor-button {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.form-top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    column-gap: 2vw;
    width: 100%;
    margin-bottom: 8px;
}

.form-top-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 3vh;
}

.form-top-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 3vh;
}

.form-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3vh;
}

.text-input{
    width: 14vw;
    height: 4vh;
    border-radius: 0;
    border: #a79a2d solid 1px;
    padding-left: 10px;
    font-size: 15px;
}

.text-input::placeholder{
    
    padding-left: 5px;
    font-size: 15px;
    color: #a79a2d;
    font-family: "Nunito", sans-serif;
    letter-spacing: 1px;
}

.text-input2{
    width: 31vw;
    height: 4vh;
    border-radius: 0;
    border: #a79a2d solid 1px;
    padding-left: 10px;
    font-size: 15px;
}

.text-input2::placeholder{
    padding-left: 5px;
    font-size: 15px;
    color: #a79a2d;
    font-family: "Nunito", sans-serif;
    letter-spacing: 1px;
}

.register-button{
    padding: 1.5vh 2vw;
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
    background-color: #a79a2d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    letter-spacing: 1px;
    margin: 20px;
}

.register-button:hover{
    border: #a79a2d solid 1px;
    box-shadow: 0px 1px 2px #a79a2d;
    text-shadow: 0px 1px 1px #a79a2d;
}

.login-account{
    margin-top: 10px;
}

a{
    color:#a79a2d;
}