*{
    margin: 0px;
    padding: 0px ;
}

#Content{
    border-top: 1px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-color: black;
    border-style: solid;
}

#Picture{
    height: 100vh;
    width: 100%;
    background-color: aqua;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

#grid-container{
    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 15vh;
    margin-bottom: 15vh;
    column-gap: 5vw;
    row-gap: 6vh;
    justify-content: center;
    align-items: justify;
}
.PFP{
    grid-row : span 3;
}

.PFP>img{
    width: 25vw;
}

.text{
    font-family: Montserrat;
}

.text>p{
    border: 2px rgba(37, 136, 250, 0.471) solid;
    height: 5vh;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 1.3rem;
}

.grid-item11{
    grid-column: span 3;
}

.radio{
    font-family: Montserrat;
    line-height: 15px;
}

#radio-box{
    border: 2px rgba(37, 136, 250, 0.49) solid;
    padding: 5px;
}

