*{
    margin: 0px;
    padding: 0px ;
}

#Content{
    border-top: 1px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-color: black;
    border-style: solid;
}

#Picture{
    font-family: Montserrat;
    text-align: right;
    font-size: 70px;
    font-weight: 700;
    color: white;

    padding-top: 4%;

    height: 70vh;
    width: 100%;
    background-color: aqua;
    background-image: url(/Picture/visitor2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#Picture>p{
    padding-right: 2vw;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#Title{
    font-family: 'Indie Flower', cursive;
    text-align: center;
    color: red;
    font-size: 6rem;
    padding-top: 4vh;
    padding-bottom: 8vh;
}

#Form{
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    column-gap: 8vw;
    align-items: top;
}

#Form-left, #Form-right{
    display: flex;
    flex-direction: column;
    align-items: left;
    row-gap: 5vh;
}
#Form-left>div>input,#Form-right>div>input,#Form-right>div>select{
    width: 30vw;
    height: 4vh;
    border-radius: 1.8vh;
    border-color: rgba(0, 0, 0, 0.353);
}

#Form>div>input:after{
    content:" *";
    color: red;
}

#Submit-button{
    text-align: center;
    font-family: Montserrat;
    font-size: 8rem;
}

#Submit-button>button{
    font-family: Montserrat;
    font-size: 2rem;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 3vh;
    padding-bottom: 3vh;

    background-color: #FF6BDF;
    border: none;
    border-radius: 3vh;
    color:white;
}