{% extends 'base.html' %}
{% load static %}
{% block title %}Artist Page{% endblock title %}
{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static '/ArtistPage/page.css' %}"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap" rel="stylesheet">

    

    {% endblock link %}
    
    
    

    {% block body %}
    <div id="Content">
        <!-- <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static '/ArtistPage/artist.webp'%}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div> -->
          
        <div id="Picture" style="background-image: url({% static '/ArtistPage/bg.jpg'%});">
        </div>

        <div class="Hero1" id="H11">
            <img src="{% static '/ArtistPage/artist1.webp'%}">
            <p class="image-desp">A masterpice by famous russian artist Wassily Kandinsky</p>
        </div>

        <div class="Hero1" id="H12">
            <p class="image-desp">This is a masterpiece by famous Russian artist Nicholas Roerich while talking about famous Indian art work</p>
            <img src="{% static '/ArtistPage/artist2.avif'%}">
        </div>

        <div class="Hero1" id="H11">
            <img src="{% static '/ArtistPage/artist3.jpeg'%}">
            <p class="image-desp">This work is by the famous M. F. Husain aka the “Picasso of India”</p>
        </div>

        <div class="Hero1" id="H12">
            <p class="image-desp">S. H. Raza is the maker of this amazing display of modern art</p>
            <img src="{% static '/ArtistPage/artist4.webp'%}">
        </div>

        <div class="Hero1" id="H11">
            <img src="{% static '/ArtistPage/artist5.webp'%}">
            <p class="image-desp">This is a masterpice: "Starry Night" by the one and only Vincent Van Gogh</p>
        </div>
        
        <div id="Hero4">
            <p>You are an artist? Submit you are art today <br>to have a chance to be showcased in the next event!</p>
            <div>
                <button id="Book" onclick="window.location.href = '/ArtistForm';">Submit Now</button>
            </div>
        </div>        
    </div> 

    {% endblock body %}
    