{% extends 'base.html' %}
{% load static %}
{% block title %}Contact Us{% endblock title %}
{% block link %}<link rel="stylesheet" type="text/css" href="{% static '/ContactUs/Script/page.css' %}"> {% endblock link %}
    {% block body %}
    
    <div id="Content">
        <img src = "{%static '/ContactUs/Picture/ContactUs.jpeg'%}" id="cover-img">

        <div id="Text-center">
            <p>Gallery of Modern Art<br>
            (Ministry of Culture, Govt. of India)<br>
            Kurla House, Gateway of India<br>
            Mumbai - 110003</p> 

            <p>Email: ngma.delhi@gmail.com<br>
            Tel: 011 - 23386111, 23385378<br>
            Tele Fax: 011 - 23384560</p>

            <p>Sh. Adwaita Gadanayak<br>
            Director General<br>
            Tel 011-23388853<br>
            Tel Fax 011 - 23384560<br>
            Email: dgngma@gmail.com</p>

            <p>Ms. Sujata Prasad<br>
            Advisor<br>
            Tel 011-23388853<br>
            Tel Fax 011 - 23384560<br>
            Email: sujataprasad@hotmail.com</p>

            <p>Ms. Temsunaro Jamir<br>
            Director<br>
            Tel 011 - 23386111<br>
            Tel Fax 011 - 23384560<br>
            Email: ngma.mumbai@gmail.com</p>

            <p>Reception Desk<br>
            Tel 011 - 23384640, 23382835<br>
            Special intern: 9920751872</p>
        </div>

        <div id="Text-split">
            <div id="Left-text">
                <p> <strong>Admin and Finance</strong><br>
                    Dr. Jyoti Tokas, Curator<br>
                    In-charge Deputy Director<br>
                    & Head of Office<br>
                    Tel 011- 23388874<br>
                    Email: jyoti.ngma@gov.in<br>
                    and jyoti.ngma@gmail.com</p>

            </div>

            <div id="Right-text">
                <p> <strong>Collection and Documentation Section<br></strong> 
                    Ms. Meghna Vyas Arora, Curator<br>
                    In-charge of Art Collection and Documentations<br>
                    Email: meghna.ngma@gmail.com<br>
                    and meghna.ngma@gov.in<br>
                 </p>
                 <p>       
                    Sh. Sushmit Sharma, Deputy Curator<br>
                    Email: sushmit.ngma@gmail.com<br>
                    sushmit.ngma@gov.in<br>
                </p>

            </div>
        </div>     
    </div> 
    {% endblock body %}
