<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/Register/styles.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Playfair+Display:wght@400;600&family=Rakkas&display=swap"
        rel="stylesheet">
</head>
<body style="background-image: url({% static '/Login/form-bg.png' %});">
    <!-- <div id="Heading">
        <h1>Register Yourself for easier bookings!</h1>
    </div> -->

<!-- <form method="POST" action="/Register/" id="center-box">
        {% csrf_token %}
        
        <div id="Top-text">
            <p>Sign up</p>
        </div>
        <div id="Buttons" name="Buttons">
            <input class="radio-input" type="radio" name="Type-of-account" id="opt1" value="Artist">
            <label class="radio-label" for="opt1" id="Artist-button">Artist</label>

            <input class="radio-input" type="radio" name="Type-of-account" id="opt3" value="Visitor">
            <label class="radio-label" for="opt3" id="Visitor-button">Visitor</label>
        </div>
        <div id="Form-top">

            <div id="Form-top-left">
                <input class="Text-input" type="text" name="Fname" id="Fname" placeholder="First Name" required>
                <input class="Text-input" type="number" name="Age" id="Age" placeholder="Age" required>
            </div>

            <div id="Form-top-right">
                <input class="Text-input" type="text" name="Lname" id="Lname" placeholder="Last Name" required>
                <input class="Text-input" type="number" name="PhoneNo" id="PhoneNo" placeholder="Contact Number" required> 
            </div>
        </div>

        <div id="Form-bottom">
            <input class="Text-input2" type="email" name="Email" id="Email" placeholder="Email Address" required>
            <input class="Text-input2" type="text" name="Username" id="Username" placeholder="Create username" required> 
            <input class="Text-input2" type="password" name="Password" id="Password" placeholder="Create a password" required >
        </div>
        <button id="Register-button">Register</button>
</form> -->
<div class="center-box">
    <h2 class="top-text">Sign up</h2>
    <form method="POST" action="/Register/" id="center-box">
        {% csrf_token %}
        <center>
<div class="btns" name="Buttons">
    <input class="radio-input" type="radio" name="Type-of-account" id="opt1" value="Artist" required>
    <label class="radio-label" for="opt1" id="Artist-button">Artist</label>

    <input class="radio-input" type="radio" name="Type-of-account" id="opt3" value="Visitor" required>
    <label class="radio-label" for="opt3" id="Visitor-button">Visitor</label>
</div>
</center>
<div class="form-top">
    <div class="form-top-left">
        <input class="text-input" type="text" name="Fname" id="Fname" placeholder="First Name" required>
        <input class="text-input" type="number" name="Age" id="Age" placeholder="Age" required>
    </div>
    <div class="form-top-right">
        <input class="text-input" type="text" name="Lname" id="Lname" placeholder="Last Name" required>
        <input class="text-input" type="number" name="PhoneNo" id="PhoneNo" placeholder="Contact Number" required> 
    </div>
</div>

<div class="form-bottom">
    <input class="text-input2" type="email" name="Email" id="Email" placeholder="Email Address" required>
    <input class="text-input2" type="text" name="Username" id="Username" placeholder="Create username" required> 
    <input class="text-input2" type="password" name="Password" id="Password" placeholder="Create a password" required >
</div>
<div class="login-account">
    <center><a href="/LoginUser">Already have an account?Click here to Login</a></center>
</div>
<center><button class="register-button">Register</button></center>
</form>
</div>

</body>
</html>