*{
    margin: 0px;
    padding: 0px ;
}

#Content{
    border-top: 1px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-color: black;
    border-style: solid;
    background-color: #333;
}

#Picture{
    height: 65vh;
    width: 100%;
    /* background-color: aqua; */
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 0px -300px;
    opacity: 50%;
    background-attachment: fixed;
}



.Hero1{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    
}

.Hero1>img{
    width:30vw;
    border-radius: 15px;
}

.Hero1>p{
    font-size: 2rem;

    font-weight: 900;
    width: 30vw;
    text-align: center;
    color: #ffffff;
}

#H11{
    background-color: #222;
    color: white;
}

#H12{
    background-color: #333;
    color: white;
}


#Hero4{
    padding-top: 15vh;
    padding-bottom: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10vw;
    background-color: #333;
}

#Hero4>p{
    /* font-family: Montserrat; */
    font-weight: 400;
    font-size:2rem; 
    color: #ffffff;
}

#Book{
    font-size: 1rem;
    border-radius: 6px;
    margin: 10px 18px;
    width: 10vw;
    height: 6vh;
    background-color: #4b350f;
    color:white;
    transition: 0.15s ease-in-out;
}

        .Hero1>img{
            width:30vw;
            transition:transform 1s;
        }

        .Hero1>img:hover{
            transform:scale(1.125);
            cursor:pointer;
        }

        #Book:hover{
            cursor:pointer;
        }