*{
    margin: 0px;
    padding: 0px ;
}

#Content{
    border-top: 1px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-color: black;
    border-style: solid;
}

#Picture{
    height: 85vh;
    width: 100%;
    background-color: aqua;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 0px -300px;
}

#Picture>p{
    padding-top: 60vh;
}

#Picture>button{
    width:10vw;
    height:6vh;

    font-family: Montserrat;
    font-size: 1rem;
    background-color: rgb(70, 153, 255);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.Hero1{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.Hero1>img{
    width:30vw;
    border-radius: 15px;
}

.Hero1>p{
    font-size: 2rem;
    font-family: Montserrat;
    font-weight: 900;
    width: 30vw;
    text-align: center;
}

#H11{
    background-color: rgb(255, 255, 255);
}

#H12{
    background-color: rgba(223, 223, 223, 0.433);
}


#Hero4{
    padding-top: 15vh;
    padding-bottom: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10vw;
    background-color: rgba(223, 223, 223, 0.433);

}

#Hero4>p{
    font-family: Montserrat;
    font-weight: 400;
    font-size:2rem; 
}

#Book{
    font-size: 1rem;
    font-family: Montserrat;
    border: 2px solid rgba(24, 160, 251, 1);
    border-radius: 6px;
    margin: 10px 18px;
    width: 10vw;
    height: 6vh;
}


#Book{
    background-color: rgba(24, 160, 251, 1);
    color:white;
    transition: 0.15s ease-in-out;
}

#Book:hover{
    background-color: white;
    color:rgba(24, 160, 251, 1);
}